name: Build & Publish Docs
on:
 push:
   branches: [ main ]
permissions:
 contents: read
 pages: write
 id-token: write
jobs:
 build:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v4
     - uses: ruby/setup-ruby@v1
       with:
         ruby-version: '3.3'
     - run: gem install asciidoctor asciidoctor-pdf
     # HTML
     - run: mkdir -p build
     - run: asciidoctor -D build docs/index.adoc
     # PDF
     - run: asciidoctor-pdf -o build/index.pdf docs/index.adoc
     # Copiar recursos estáticos (imágenes)
     - name: Copy static assets
       run: |
         if [ -d docs/img ]; then
           mkdir -p build/img
           cp -r docs/img/* build/img/
         fi
     - uses: actions/upload-pages-artifact@v3
       with:
         path: build
 deploy:
   needs: build
   runs-on: ubuntu-latest
   steps:
     - id: deployment
       uses: actions/deploy-pages@v4
